@import '../../variables.scss';

.Quote {
  background-color: $grey1;
  min-height: calc(100vh - 86px);

  .plotly-graph {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .quote-chart {
    margin-top: 100px;
    width: 640px;
    height: 280px;
    border: 1px solid $grey2;
    cursor: crosshair;
  }

}