@import '../../variables.scss';

.Quote {
  background-color: $grey1;
  min-height: calc(100vh - 86px);
  padding-bottom: 50px;

  .plotly-graph {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .quote-chart {
    margin-top: 100px;
    width: 640px;
    height: 280px;
    border: 1px solid $grey2;
    cursor: crosshair;
  }

  .change-red {
    color: rgba(189,32,37,1);
  }

  .change-green {
    color: rgba(0,177,76,1);
  }

}