@import '../../variables.scss';

a {
  text-decoration: none;
}

.CurrencyRow {
  border-bottom: 1px solid $grey1;
  @include std-transition;

  .currency-container {
    width: 933px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 40px;
    cursor: pointer;
    margin: auto;
  }

  p {
    margin: 0 5px;
    text-align: left;
  }

  .chart {
    width: 161px;
    height: 50px;
    margin-left: 43px;
  }

  .t-left {
    text-align: left;
  }

  .t-right {
    text-align: right;
  }

  .light {
    font-weight: 500;
  }

  .light-grey {
    font-weight: 500;
    color: $grey3;
  }

  .currency-index {
    width: 25px;
  }

  .currency-info {
    width: 150px;
  }

  .currency-name {
    font-size: 17px;
    font-weight: 900;
  }

  .currency-abbr {
    font-size: 12px;
    font-weight: 900;
  }

  .currency-cap {
    width: 121px;
  }

  .currency-price {
    width: 100px;
  }

  .currency-change {
    width: 100px;
  }

  .currency-volume {
    width: 192px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

}

.CurrencyRow:hover {
  background-color: $grey05;
}