/******  GLOBAL CSS VARIABLES  ******/
/***  COLORS  ***/
/***  FONTS  ***/
* {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  outline: none;
  color: #414042; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  line-height: 1.3; }

h1 {
  font-size: 44px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 10px; }

p {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 900; }

::placeholder {
  opacity: .5;
  text-align: center; }

/***  MIXINS  ***/
a {
  text-decoration: none; }

.CurrencyRow {
  border-bottom: 1px solid #f1f2f2;
  transition: all .2s ease-in-out; }
  .CurrencyRow .currency-container {
    width: 933px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 40px;
    cursor: pointer;
    margin: auto; }
  .CurrencyRow p {
    margin: 0 5px;
    text-align: left; }
  .CurrencyRow .chart {
    width: 161px;
    height: 50px;
    margin-left: 43px; }
  .CurrencyRow .t-left {
    text-align: left; }
  .CurrencyRow .t-right {
    text-align: right; }
  .CurrencyRow .light {
    font-weight: 500; }
  .CurrencyRow .light-grey {
    font-weight: 500;
    color: #a7a9ac; }
  .CurrencyRow .currency-index {
    width: 25px; }
  .CurrencyRow .currency-info {
    width: 150px; }
  .CurrencyRow .currency-name {
    font-size: 17px;
    font-weight: 900; }
  .CurrencyRow .currency-abbr {
    font-size: 12px;
    font-weight: 900; }
  .CurrencyRow .currency-cap {
    width: 121px; }
  .CurrencyRow .currency-price {
    width: 100px; }
  .CurrencyRow .currency-change {
    width: 100px; }
  .CurrencyRow .currency-volume {
    width: 192px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }

.CurrencyRow:hover {
  background-color: #f9fafa; }
