@import '../../variables.scss';

a {
  text-decoration: none;
}

.CurrencyRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  cursor: pointer;
  border-bottom: 1px solid $grey2;
  @include std-transition;

  p {
    margin: 0 5px;
    text-align: left;
  }

  .chart {
    width: 161px;
    height: 50px;
  }

  .width-0 {
    width: 100px;
    text-align: left;
  }

  .width-1 {
    width: 50px;
  }

  .width-2 {
    width: 100px;
    text-align: right;
  }

  .width-3 {
    width: 140px;
    text-align: right;
  }

}

.CurrencyRow:hover {
  background-color: $grey1;
}