/******  GLOBAL CSS VARIABLES  ******/
/***  COLORS  ***/
/***  FONTS  ***/
* {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  outline: none;
  color: #414042; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  line-height: 1.3; }

h1 {
  font-size: 44px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 10px; }

p {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 900; }

::placeholder {
  opacity: .5;
  text-align: center; }

/***  MIXINS  ***/
.Header {
  background-color: #414042;
  color: #fff;
  padding: 0 30px 8px; }
  .Header h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-family: 'Refreshment Stand';
    font-size: 60px;
    margin: 0;
    color: #fff;
    font-weight: 400;
    text-align: left; }
  .Header .header-span {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-size: 60px;
    font-family: 'Refreshment Stand';
    color: #fff;
    margin: 0; }
